extends layout

block content
  h1= title
  p received gsr packets since #{createdAt} 
  
  ul
    each val in docs
      li= val._id
      a(href= rootDir + val.filename) download
      if val.size
        | 
        = val.size
        | B
      |  createdAt  
      = val.createdAt
      |  

      | 
      = val.callsign.source
      | 
      = val.callsign.destination
      if val.seen
        |  seen  
        = val.seen
