extends layout

block content
  h1= title
  p showing gsr packets since #{createdAt}
  ul
    each val in docs
      li= val._id
      | createdAt  
      = val.createdAt
      | 
      a(href= val.filename)  download
      |  seen 
      = val.seen
