extends layout

block content
  h1= title
  p received gsr packets since #{createdAt}
  ul
    each val in docs
      li= val._id
      | createdAt  
      = val.createdAt
      | 
      a(href= rootDir + val.filename)  download
      | 
      if val.size
        = val.size
        | B
      if val.seen
        |  seen 
        = val.seen
      
